* {
  padding: 0;
  margin: 0;
  --light-bg: #212121;
  --dark-bg: #000000;
  --bright-green: #20df64;
  --white: #ffffff;
  --light-grey: #8b8b8b;
  --dark-grey: #6b6b6b;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--white);
  font-size: 18px;
}

body {
  background-color: var(--dark-bg);
}

#router-outlet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 80vw; */
  margin: auto;
  height: 88vh;
  overflow: hidden;
  padding-top: 5vh;
}

/* Navbar */
#navbar-container {
  width: 100%;
  background-color: var(--light-bg);
}
.navbar {
  width: 85vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

.logo {
  width: 1rem;
  padding: 0px;
  margin-right: 6px;
}

h1 {
  font-size: 1.8rem;
  margin: 0 auto 0 0;
  padding: 14px;
}

/* Buttons */
.button {
  border: 2px solid transparent;
  cursor: pointer;
  background-color: transparent;
  padding: 14px;
  font-size: 1.2rem;
  text-decoration: none;
}

.button:hover {
  border-top: 2px solid var(--bright-green);
  filter: hue-rotate(260deg);
  -webkit-animation: filter-animation 8s infinite;
  animation: filter-animation 8s infinite;
}

#get-another-button {
  border: 2px solid var(--dark-bg);
  border-radius: 20px;
  padding: 0.6rem 2.8rem;
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-bg);
  background-color: var(--bright-green);
  filter: hue-rotate(260deg);
  -webkit-animation: filter-animation 8s infinite;
  animation: filter-animation 8s infinite;
}

#get-show-button {
  border: 2px solid var(--dark-bg);
  border-radius: 20px;
  padding: 0.6rem 2.8rem;
  margin: 5vh auto;
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-bg);
  background-color: var(--bright-green);
  filter: hue-rotate(260deg);
  -webkit-animation: filter-animation 8s infinite;
  animation: filter-animation 8s infinite;
}

#get-show-button:hover,
#get-show-button:focus {
  color: var(--bright-green);
  background-color: var(--white);
  border: 5px solid var(--bright-green);
  transition: 0.5s;
  cursor: pointer;
}

#get-another-button:hover,
#get-another-button:focus {
  color: var(--bright-green);
  background-color: var(--white);
  border: 2px solid var(--bright-green);
  transition: 0.5s;
  cursor: pointer;
}

#get-another-button:active,
#get-show-button:active {
  color: var(--dark-bg);
  background-color: var(--white);
  transition: 0s;
}

/* Welcome page */
.welcome-img-container {
  width: 100%;
  height: 42vh;
  overflow: hidden;
  background-color: var(--dark-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.welcome-img {
  max-width: 1200px;
  padding: 0;
  height: 100%;
}

.banner-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8vh auto 0;
  padding-bottom: 4vh;
}

.welcome-banner {
  width: 60%;
  filter: grayscale(0.8);
}

/* Show-view Page */
.show-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  border: 2px solid var(--white);
  background-color: var(--light-bg);
  margin-top: 2vh;
  overflow: hidden;
}

.show-list-page:hover {
  border: 2px solid var(--white);
  cursor: pointer;
  box-shadow: 0px 0px 80px var(--light-grey);
  transform: scale(1.02);
}

.show-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin-bottom: auto;
  height: fit-content;
  width: 30vw;
}

.show-name {
  font-size: 2rem;
  padding: 2vh;
  margin-bottom: auto;
}

.show-info img {
  width: 20vw;
  margin: auto;
  padding: 10px 20px 20px 20px;
  max-height: 450px;
}

/* Language section */
.show-languages {
  color: var(--white);
  background-color: var(--light-bg);
  border: 1px solid var(--white);
}

/* Media Queries */
@media screen and (max-width: 800px) {
  #router-outlet {
    padding: 0;
  }

  .welcome-banner {
    width: 180%;
  }

  .welcome-img {
    width: 120vw;
    max-width: 1200px;
    margin-top: 5vh;
  }

  .welcome-img-container {
    height: 30vh;
  }

  .banner-container {
    height: 45vh;
    align-items: flex-end;
    justify-content: center;
    justify-items: center;
  }

  h1 {
    font-size: 1.2rem;
  }

  .navbar {
    width: 95vw;
  }

  #get-playlist-button {
    padding: 1rem 2.8rem;
    margin: 5vh 0;
    font-size: 2rem;
    font-weight: bold;
    z-index: 2;
  }

  #get-another-button {
    font-size: 1.5rem;
    margin: 1vh auto;
  }

  .show-list-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .show-info {
    display: flex;
    margin-bottom: 0;
    width: 80vw;
  }

  .show-info img {
    width: 65vw;
  }

  .show-name {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  * {
    font-size: 14px;
  }

  .welcome-img {
    width: 80vw;
  }

  .welcome-img-container {
    margin-bottom: 10vh;
  }

  .banner-container {
    margin: 0;
  }
}

/* MODAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Loading */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Color animation */
@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(100deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(100deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}
