
* {
    padding: 0;
    margin: 0;
     --light-bg: #212121;
    --dark-bg: #000000;
    --bright-green: #20DF64;
    --white: #FFFFFF;
    --light-grey: #8B8B8B;
    --dark-grey: #6b6b6b;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--white);
    font-size: 18px;
}

body {
  background-color: var(--dark-bg);
}

#router-outlet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 80vw; */
  margin: auto;
  height: 88vh;
  overflow: hidden;
  padding-top: 5vh;;
}

/* Navbar */
#navbar-container {
    width: 100%;
    background-color: var(--light-bg);
}
.navbar {
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

.logo {
    width: 1rem;
    padding: 0px;
    margin-right: 6px;
}

h1 {
    font-size: 1.8rem;
    margin: 0 auto 0 0;
}

/* Buttons */
.button {
    border: 2px solid transparent;
    cursor: pointer;
    background-color: transparent;
    padding: 14px;
    font-size: 1.2rem;
    text-decoration: none;
}

.button:hover {
   border-top: 2px solid var(--bright-green);
   filter: hue-rotate(260deg);
    -webkit-animation: filter-animation 8s infinite;
    animation: filter-animation 8s infinite;
}

#get-in-button,
#get_show_button {
    border: 2px solid var(--dark-bg);
    border-radius: 20px;;
    padding: .6rem 2.8rem;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
    color: var(--dark-bg);
    background-color: var(--bright-green);
    filter: hue-rotate(260deg);
    -webkit-animation: filter-animation 8s infinite;
    animation: filter-animation 8s infinite;
}

#get_show_button:hover,
#get_show_button:focus,
#get-in-button:hover,
#get-in-button:focus {
    color: var(--bright-green);
    background-color: var(--white);
    border: 5px solid var(--bright-green);
    transition: 0.5s;
}

#get-in-button:active,
#get_show_button:active {
    color: var(--dark-bg);
    background-color: var(--white);
    transition: 0s;
}

/* Welcome page */
.welcome-img-container {
    width: 100%;
    height: 42vh;
    overflow: hidden;
    background-color: var(--dark-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.welcome-img {
    padding: 6vh 0;
    width: 65vw;
    max-width: 1200px;
}

.banner-container {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh auto 0;
    padding-bottom: 4vh;
}

.welcome-banner {
    width: 60%;
    /* filter: invert(1); */}
/* Media Queries */

@media screen and (max-width:800px) {
    .welcome-banner {
    width: 180%;
    }

    .welcome-img {
    width: 120vw;
    max-width: 1200px;
    margin-top: 5vh;
    }

    .welcome-img-container {
        height: 30vh;
    }

    .banner-container{
        height: 45vh;
        align-items: flex-end;
        justify-content: center;
        justify-items: center;
    }

    h1 {
        font-size: 1.2rem;;
    }

    .navbar {
    width: 95vw;
    }

    #get-playlist-button {
    padding: 1rem 2.8rem;
    margin: 5vh 0;
    font-size: 2rem;
    font-weight: bold;
    z-index: 2;
}
}

@media screen and (max-width: 300px) {
  * {
    font-size: 14px;
  }

  .welcome-img {
    width: 80vw;
  }

  .welcome-img-container {
    margin-bottom: 10vh;;
  }

  .banner-container {
    margin: 0;
  }
}

/* Webkit keyframes */
@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  
  50% {
    -webkit-filter: hue-rotate(100deg);
  }
  
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  
  50% {
    filter: hue-rotate(100deg);
  }
  
  100% {
    filter: hue-rotate(0deg);
  }
}